<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="30 seconds">
    <property name="log.dir" value="logs"/>
    <property name="encoding" value="UTF-8"/>
    <property name="plain" value="%msg%n"/>
    <property name="std" value="%d{HH:mm:ss.SSS}[%thread][%-5level][%C:%M:%L]%msg %X{user} %n"/>
    <!-- 控制台输出 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${std}</pattern>
            <charset>${encoding}</charset>
        </encoder>
    </appender>

    <!-- 时间滚动输出 level为 ALL 日志 -->
    <appender name="file"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log.dir}/db_tool.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.dir}/file.%d{yyyy-MM-dd}.log</FileNamePattern>
            <!--日志最大保留时间天-->
            <!--<MaxHistory>30</MaxHistory>-->
        </rollingPolicy>
        <encoder>
            <pattern>${std}</pattern>
            <charset>${encoding}</charset>
        </encoder>
    </appender>
    <logger name="root">
        <level value="INFO"/>
    </logger>
    <logger name="${package}">
        <level value="DEBUG"/>
    </logger>
    <root>
        <appender-ref ref="stdout"/>
        <appender-ref ref="file"/>
    </root>
</configuration>